body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.socialmedia__title {
  text-align: center;
  font-size: medium;
}

.socialmedia ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.socialmedia__iconlist li {
  padding-right: 1rem;
  padding-left: 1rem;
}

.socialmedia__iconlist li a img {
  font-size: x-large;
}

.socialmedia__iconlist li a img:hover {
  filter: saturate(0);
}

.socialmedia__iconlist a {
  text-decoration: none;
}

.formulario__input {
  display: flex;
  flex-direction: column;
}

.formulario__input label {
  padding-bottom: 1rem;
  align-self: center;
}

.formulario__input input {
  align-self: center;
  padding-bottom: 1rem;
}

.formulario__checkbox {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
  flex-direction: row-reverse;
  justify-content: center;
}

.formulario__checkbox label a {
  color: black;
}

.formulario__button {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.formulario__button button {
  background-color: rgb(223, 103, 103);
  border-style: none;
  height: 34px;
  width: 200px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footerbar {
  background-color: rgb(223, 103, 103);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contacto__list {
  padding: 0;
}

.contacto__list li {
  display: flex;
  justify-content: center;
  font-size: small;
}

.contacto__list a {
  text-align: center;
  color: rgb(206, 74, 74);
  text-decoration: none;
}

.contacto__list i {
  font-size: 1.5rem;
}

.contacto__list li a:hover {
  text-decoration: underline;
}

.contacto__list h3 {
  font-size: small;
}
.header {
  height: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.icon--bars,
.header__nav--red-person {
  display: flex;
  justify-content: space-between;
}
.header__nav--menu,
.header__nav--buy-items {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--red {
  padding: 20px;
  filter: saturate(0);
}
.header__nav--red:hover {
  filter: none;
}
.icon--search,
.icon--bars {
  font-size: 25px;
}
.header__nav--num {
  background-color: rgb(206, 74, 74);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 40px;
  width: 40px;
}
.header__nav--search {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.main {
  background-color: #f8f8f8;
}
.main__logo {
  background-color: white;
  display: flex;
  align-items: center;
}
.main__brands {
  display: none;
}
@media only screen and (min-width: 600px) {
  .main__brands {
    display: block;
  }
}
.main__brands--image {
  filter: saturate(0);
}
.main__brands--image:hover {
  filter: none;
}
