body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 360px;
}

.header__nav--login {
  display: flex;
  align-items: center;
}

.header__nav--login a {
  color: rgb(54, 54, 54);
  font-size: small;
  text-decoration: none;
  display: none;
}

.header__nav--login a :hover {
  color: #ff5959;
}

.header__nav--red:hover {
  filter: none;
  cursor: pointer;
}

.header__nav--modifier {
  display: flex;
}

.header__nav--socialmedia ul li a i {
  font-size: large;
  color: black;
}

.header__nav--socialmedia ul li a i:hover {
  color: #ff5959;
}

.header__nav--socialmedia ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 70px;
}

.header__nav--socialmedia ul li {
  list-style: none;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header__nav--socialmedia {
  display: none;
}

.footer {
  background-color: #f8f8f8;
}
.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

.general-info ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.general-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  height: 13rem;
}

.general-info img {
  height: 45px;
  filter: saturate(0);
}

.general-info img:hover {
  filter: none;
}

h4,
h5 {
  text-align: center;
  font-size: x-small;
  margin: 0;
  padding: 0;
  max-width: 200px;
  color: #464646;
}

.socialmedia__title {
  text-align: center;
  font-size: medium;
}

.socialmedia ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.socialmedia__iconlist li {
  padding-right: 1rem;
  padding-left: 1rem;
}

.socialmedia__iconlist li a img {
  font-size: x-large;
}

.socialmedia__iconlist li a img:hover {
  filter: saturate(0);
}

.socialmedia__iconlist a {
  text-decoration: none;
}

.formulario__input {
  display: flex;
  flex-direction: column;
}

.formulario__input label {
  padding-bottom: 1rem;
  align-self: center;
}

.formulario__input input {
  align-self: center;
  padding-bottom: 1rem;
}

.formulario__checkbox {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
  flex-direction: row-reverse;
  justify-content: center;
}

.formulario__checkbox label a {
  color: black;
}

.formulario__button {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.formulario__button button {
  background-color: #ff5959;
  border-style: none;
  height: 34px;
  width: 200px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footerbar {
  background-color: #ff5959;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contacto__list {
  padding: 0;
}

.contacto__list li {
  display: flex;
  justify-content: center;
  font-size: small;
}

.contacto__list a {
  text-align: center;
  color: rgb(206, 74, 74);
  text-decoration: none;
}

.contacto__list i {
  font-size: 1.5rem;
}

.contacto__list li a:hover {
  text-decoration: underline;
}

.contacto__list h3 {
  font-size: small;
}
.header {
  background-color: #f8f8f8;
  height: 70px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
.icon--bars,
.header__nav--red-person {
  display: flex;
  justify-content: space-between;
}
.header__nav--menu,
.header__nav--buy-items {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--red {
  padding: 20px;
  filter: saturate(0);
}

.header__nav--white {
  background-color: black;
  height: 40px;
  width: 40px;
  padding: 5px;
  filter: invert(1);
}
.header__nav--white:hover {
  filter: none;
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: #ff5959;
  cursor: pointer;
}
.header__nav--num {
  background-color: #ff5959;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 70px;
  width: 70px;
}
.header__nav--search {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.icon--search,
.icon--bars {
  font-size: 25px;
}

.main {
  background-color: #f8f8f8;
}
.main__menu {
  background-color: white;
  height: 250px;
  padding-left: 75px;
  padding-right: 75px;
}
.main__menu-logo {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.main__brands {
  display: none;
}
.main__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__images--logo {
  transform: translateY(-65px);
}
.main__images--text {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 30px;
  margin: 40px;
}
.image-section__card {
  position: relative;
  margin-bottom: 15px;
}
.image-section-img {
  width: 325px;
}
.image-section-img--vertical {
  height: 136px;
  width: 325px;
  object-position: right top;
  object-fit: cover;
}
.image-section__text {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(105, 102, 102);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 90px;
  width: 170px;
  bottom: 4px;
  margin: 0;
}
.main__brands--image {
  filter: saturate(0);
}
.main__brands--image:hover {
  filter: none;
}
.image__button {
  background-color: #ff5959;
  color: white;
  border: none;
  width: 100px;
  height: 50px;
}
.image__button:hover {
  text-decoration: underline;
}
.main__blank {
  display: flex;
  background-color: white;
  height: 200px;
}
.menu__horizontals {
  display: none;
}
.main__menu-form {
  display: none;
}
.image-section__text--desktop {
  display: none;
}
.menu__vertical {
  display: none;
}
@media only screen and (min-width: 600px) {
  .main__brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .main__brands--images {
    padding: 100px;
  }
  img.main__brands--image {
    margin: 15px;
    height: 75px;
  }
  .main__menu {
    height: 400px;
  }

  .main__menu-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 33px;
  }
  .header__nav {
    justify-content: space-between;
  }

  .header__nav--login a {
    display: contents;
  }

  .menu__right {
    background-color: #9faa4d;
  }
  .menu__left {
    background-color: #8e789d;
  }

  .header__nav--search {
    display: none;
  }

  .header__nav--socialmedia {
    display: contents;
  }
  .header__nav--menu {
    display: none;
  }
  .menu__vertical {
    display: flex;
    margin-left: 20px;
    width: 202px;
    height: 125px;
  }

  ul.menu__vertical {
    list-style: none;
    display: flex;
  }
  .menu__vertical--left {
    background-color: #ff5959;
    height: 125px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
  }
  .menu__vertical--center {
    background-color: #6199af;
    height: 70px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
  }
  .menu__vertical--rigth {
    background-color: #f6b436;
    height: 70px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
  }
  .menu__vertical--center:hover,
  .menu__vertical--rigth:hover {
    height: 125px;
  }
  .menu__left,
  .menu__right {
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 18px;
    width: 130px;
    height: 30px;
    margin-left: 10px;
  }
  .main__brands--text {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 30px;
    margin: 40px;
  }
  .main__blank {
    display: none;
  }
  .menu__horizontals {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .image-container {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 0.5px;
  }
  .image-container--apart {
    background-color: #ff5959;
  }
  .image-container:hover {
    background-color: #ff5959;
    cursor: pointer;
  }
  .image-container--apart:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  .image-section {
    width: 1000px;
    height: 650px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 280px 280px;
  }
  .image-section-img-top {
    height: 263px;
    width: 628px;
  }
  .image-section-img-down {
    height: 263px;
    width: 628px;
  }

  .image-section__card--up {
    height: 263px;
    width: 628px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
  }

  .image-section__card--down {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
  }
  .image-section__card--vertical {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 4;
  }
  .image-section-img--vertical {
    object-fit: none;
    object-position: top;
    width: 306px;
    height: 539px;
  }
  .image-section__text {
    height: 120px;
    width: 250px;
    display: flex;
  }
  .image-section__text-u {
    height: 120px;
    width: 250px;
    display: flex;
    bottom: 0;
  }
  .image-section__text-d {
    height: 120px;
    width: 250px;
    display: flex;
    bottom: 92px;
  }
  .image-section__text-v {
    height: 120px;
    width: 250px;
    display: flex;
    bottom: -277px;
  }

  .image-section__text--title {
    font-size: 18px;
    position: absolute;
  }
  p.image-section__text--desktop {
    display: flex;
    color: rgb(105, 102, 102);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .image-square {
    height: 70px;
  }
  .menu--container {
    font-size: 12px;
    padding-left: 7px;
  }
  .menu--container--apart:hover {
    color: black;
  }
  .menu--container--apart {
    font-size: 13px;
    padding-left: 36px;
    margin-left: 20px;

    color: #ff5959;
  }

  .footer__info {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h3 {
    margin-left: 1rem;
  }

  .general-info div {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .socialmedia {
    display: flex;
    flex-direction: column;
  }

  .socialmedia__title {
    text-align: left;
    margin-bottom: 1rem;
  }

  .socialmedia__iconlist li {
    padding-right: 0;
    padding-left: 0;
  }

  .contacto__list li {
    display: flex;
    justify-content: flex-start;
  }

  .contacto__list h3 {
    padding-left: 2px;
  }

  .contacto__list li a {
    display: flex;
    align-items: center;
  }

  .general-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .formulario {
    align-self: center;
  }

  .header__nav {
    justify-content: space-between;
  }

  .main__menu-logo {
    position: absolute;
    margin-left: 57px;
    top: 151px;
  }
  .main__menu-logo img {
    height: auto;
  }
  .menu__search {
    background-color: grey;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .menu__horizontals div {
    margin-right: 2px;
    margin-left: 3px;
  }
}
